* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 131px 230px 130px 206px;
}

.btn {
    display: inline-block;
    padding: 14px 30px;
    background-color: #FFFFFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.banner-section {
    width: 100%;
    height: 808px;
    background: url('../images/banner/banner3.png') no-repeat center center/cover;
    display: flex;
    justify-content: right;
    align-items: center;
}

.banner-section .banner {
    padding: 216px 230px 166px 845px;
    text-align: right;
}

.banner-section .banner h1 {
    font-size: 65px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 76.8px;
    margin-bottom: 24px;
}

.banner-section .banner p {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}
.banner-section .banner .btn:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    transform: scale(1.1);
}

.previous-info {
    display: flex;
    justify-content: space-between;
    gap: 87px;
    align-items: center;
    padding-right: 92px;
}

.previous-info .info-card h2 {
    font-size: 40px;
    color: #151414;
    font-weight: 700;
    line-height: 47.04px;
    margin-bottom: 16px;
}

.previous-info .info-card p {
    font-size: 16px;
    color: #444343;
    font-weight: 400;
    line-height: 26px;
}

.previous-info .info-card ul {
    margin-top: 24px;
    padding-left: 0;
    list-style-type: none;
}

.previous-info .info-card ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 8px;
}

.previous-info .info-card ul li::before {
    content: "\2713";
    position: absolute;
    left: 0;
    color: #2ecc71;
    font-weight: bold;
}

.plan-header h2 {
    font-size: 40px;
    color: #151414;
    font-weight: 700;
    line-height: 42.24px;
    text-align: center;
    margin-bottom: 50px;
}

.plan-card {
    display: flex;
    justify-content: center;
    gap: 86px;
    align-items: center;

}

.plan-card-item {
    text-align: center;
}

.plan-card-item h3 {
    font-size: 30px;
    color: #151414;
    font-weight: 600;
    line-height: 28.8px;
    margin-top: 24px;
}

.plan-card-item p {
    font-size: 25px;
    color: #737272;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
}

.promo-banner {
    width: 100%;
    max-width: 1140px;
    height: 300px;
    margin: 40px auto;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 60px;
    background: url('../images/gradient1.png'),
        url('../images/watch.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.promo-content h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.2;
}

.call-btn {
    display: inline-block;
    background-color: #FFFFFF;
    color: #005FAC;
    padding: 15px 40px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.call-btn:hover {
    transform: scale(1.05);
}

.future-footer {
    background-color: #121212;
    color: #ffffff;
    padding: 80px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}


.footer-info {
    flex: 1;
}

.footer-brand {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-desc {
    color: #b3b3b3;
    line-height: 1.6;
    margin-bottom: 25px;
    max-width: 450px;
}

.contact-details p {
    margin: 5px 0;
    color: #ffffff;
}

.social-icons {
    display: flex;
    gap: 15px; 
    margin-top: 25px;
}

.icon-circle {
    width: 45px;
    height: 45px;
    background-color: #ffffff; 
    border-radius: 50%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-decoration: none;
    transition: all 0.3s ease;
}

.icon-circle i {
    color: #121212; 
    font-size: 20px;
}

.icon-circle:hover {
    background-color: #ff6b35;
    transform: translateY(-3px);
}

.icon-circle:hover i {
    color: #ffffff;
}

.footer-subscribe {
    flex: 1;
    max-width: 400px;
}

.footer-subscribe h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subscribe-form input {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 15px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
}

.sub-btn {
    background-color: #FFFFFF;
    color: #005FAC;
    border: none;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 180px; 
}

.sub-btn:hover {
    background-color:#005FAC;
    color: #FFFFFF;
    transform: scale(1.02);
    cursor: pointer;
}